<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to your To-Do List!</h1>

    {% if todos %}
        <ul>
            {% for todo in todos %}
                <li>
                    {{ todo.title }}
                </li>
            {% endfor %}
        </ul>
    
    {% else %}
        <p><strong>No tasks found.</strong></p>
        <p>Start by adding your first task!</p>
    {% endif %}

    <div style="margin-bottom: 20px;">
    <a href="{{ url_for('add_item') }}">
        <button>Add an item</button>
    </a>
    </div>


    <div>
        <a href="{{ url_for('delete_item') }}">
            <button>Delete an item</button>
        </a>
        </div>

</body>
</html>